.venv/
__pycache__/
*.pyc
.env
!.env.example
.DS_Store
/data
.idea
.claude
CLAUDE.md
docs/
research/data/*
!research/data/cleaned
research/data/cleaned/*
!research/data/cleaned/boun.csv
.vscode/
.vscode/*